[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic-settings = "*"
sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
